<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawer Listing</title>
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>
<div>
    <h1>Drawer Listing</h1>
</div>
	<nav>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/drawer-list">drawer-list</a></li>
			<li><a href="/sock-list">sock-list</a></li>
			<li><a href="/create-drawer">create-drawer</a></li>
		</ul>
	</nav>

<div class="container-drawers">
    <div class="drawer" th:each="drawer : ${drawers}">
        <a th:href="'drawer-content/' + ${drawer.id}">
            <div th:text="${drawer.name}">I display the drawer name</div>
        </a>
    </div>
</div>

</body>
</html>