<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawer Listing</title>
    <link href="/styles/drawer.css" rel="stylesheet">
</head>
<body>
<div>
    <a href="/">
        <button type="button">Return</button>
    </a>
    <a href="/create-drawer">
        <button type="button">Create a drawer</button>
    </a>
</div>

<div id="container-drawers">
    <div class="drawer" th:each="drawer : ${drawers}">
        <a th:href="'drawer-content/' + ${drawer.id}">
            <div th:text="${drawer.name}">
                I display the name of the drawer
            </div>
        </a>
    </div>
</div>
</body>
</html>