#container-drawers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.drawer {
    padding: 10px;
    border: 1px solid deeppink;
}